/*
  Add CSS here
*/
h1, h2, ul, p {
  margin: 5px;
  padding: 5px;
}
h1, h2 {
  font-weight: bold;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
table {
  margin: 15px;
}
th, td {
  border: 1px solid #e6e6e6;
  width: 150px;
  word-wrap: break-word;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}
#tableHeader > * {
  font-weight: 600;
  border: 0;
}
